.Burger {
    width: 700px;
    height: 500px;
    margin: auto;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2erm;
    overflow-x: visible;
}

@media only screen and (max-width: 500px){
    .Burger {
        width: 90%;
        height: 600px;
    }
}

@media only screen and (min-width: 500px){
    .Burger {
        width: 500px;
        height: 600px;
    }
}

